<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atomic Project</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="../../../resource/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../resource/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../resource/assets/css/form-elements.css">
    <link rel="stylesheet" href="../../../resource/assets/css/style.css">
    <link rel="stylesheet" href="../../../resource/assets/bootstrap/css/atomic-style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <![endif]-->

    <!-- Favicon and touch icons -->

</head>

<body>

<div class="container-fluid wrapper">
    <div class="jumbotron header">
        <div class="row">
            <div class="logo col-md-4 ">
                <img src="../../../resource/assets/img/atomiclogo.png" alt="..." class="img-rounded">
            </div>
            <div class="header-info col-md-4">
                <h2>Atomic Project</h2>
                <h3>SEIP 137008 B35 Web Application PHP</h3>
            </div>
            <div class="user-img .col-md-4">
                <img src="../../../resource/assets/img/user-img.jpg" alt="..."  class="img-circle size">
            </div>
        </div>

    </div>
    <div class="container-fluid wrapper">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav atomic-side-nav nav-pills nav-stacked ">
                    <li role="presentation" class="active"><a href="#">Menu</a></li>
                    <li role="presentation"><a href="#">Book Title</a></li>
                    <li role="presentation"><a href="#">Birthdate</a></li>
                    <li role="presentation"><a href="#">City</a></li>
                    <li role="presentation"><a href="#">Email</a></li>
                    <li role="presentation"><a href="#">Gender</a></li>
                    <li role="presentation"><a href="#">Hobbies</a></li>
                    <li role="presentation"><a href="#">Profile Picture</a></li>
                    <li role="presentation"><a href="#">Summary of Organization</a></li>
                </ul>
            </div>
            <div class="col-md-10 ">


            </div>



        </div>
    </div>
</div>


<!-- Javascript -->
<script src="../../../resource/assets/js/jquery-1.11.1.min.js"></script>
<script src="../../../resource/assets/bootstrap/js/bootstrap.min.js"></script>

<!--[if lt IE 10]>
<script src="../../../assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>